.skills__title {
    font-size: var(--font-size-large);
    color: var(--color-gray);
    text-align: center;
}
.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px 0;
}
.skill__box {
    width: 45%;
    height: 150px;
    display: flex;
    align-items: flex-end;
    background: white;
    padding: 10px;
}
.skill__box ul {
    list-style: none;
}
.skill__name {
    font-size: var(--font-size-small);
    color: var(--color-gray);
    margin: 10px 0 0 0;
}
.python__icon,
.sql__icon {
    width: 35px;
}

@media screen and (min-width: 550px) {
    .skill__box {
        width: 30%;
    }
}

@media screen and (min-width: 600px) {
    .skills__title {
        font-size: var(--font-size-xl);
    }
}

@media screen and (min-width: 900px) {
    .skill__box {
        width: 260px;
    }
}

@media screen and (min-width: 1100px) {
    .skill__box {
        width: 140px;
    }
}
