.contact__container {
    background: var(--color-alice-blue);
}
.contact {
    display: flex;
    flex-direction: column;
}
.contact__img {
    display: none;
}
.contact__form {
    width: 100%;
}
.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 20px;
}
.form__title {
    font-size: 2rem;
    color: var(--color-gray);
    margin-bottom: 30px;
}
.form__description {
    font-size: 1.8rem;
    color: var(--color-gray);
    margin-bottom: 30px;
    line-height: 2.8rem;
}
fieldset {
    border: none;
    margin-bottom: 20px;
}
.legend__st {
    display: block;
    font-size: 1.6rem;
    color: var(--color-gray);
    margin-bottom: 10px;
}
.input__st {
    width: 100%;
    padding: 15px 15px;
    font-size: 1.5rem;
    color: var(--color-gray);
    border: none;
    border-bottom: 2px solid #dddddd;
    outline: none;
    border-radius: 4px;
    transition: 0.3s ease;
}
.input__st:focus {
    border-bottom: 2px solid var(--color-royal-blue);
}
.input__st::placeholder {
    color: rgb(117, 117, 117);
    font-size: 1.4rem;
}
.message__textarea {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    color: var(--color-gray);
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid #e8e8e8;
    padding: 15px;
    outline: none;
    resize: none;
    transition: 0.3s ease;
}
.message__textarea:focus {
    border-color: var(--color-royal-blue);
}
.message__textarea::placeholder {
    font-size: 1.5rem;
    color: rgb(117, 117, 117);
}
.btn__submit {
    width: 100%;
    font-size: 1.6rem;
    color: white;
    background: var(--color-royal-blue);
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .form {
        grid-template-columns: 1fr 1fr;
    }
    .form__title {
        font-size: 2.2rem;
    }
    .input--g3,
    .input--g4 {
        grid-column: span 2;
    }
}
@media screen and (min-width: 900px) {
    .contact {
        flex-direction: row;
        justify-content: space-between;
    }
    .contact__img {
        width: 50%;
        display: block
    }
    .contact__img img {
        height: 100%;
        width: 100%;
    }
    .contact__form {
        width: 80%;
    }
    .form {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .input__group {
        margin: 0;
    }
    .input--g3,
    .input--g4 {
        grid-column: span 1;
    }
    .btn__submit {
        width: 45%;
    }
}